SECRET_OPENAI_API_KEY=c2stbFJJVExvYU9jVThjTnJZb3N6YldUM0JsYmtGSjZCaURvSGNOZk1LbTJjUnZ6bFh2
SECRET_DISCORD_WEBHOOK="aHR0cHM6Ly9kaXNjb3JkLmNvbS9hcGkvd2ViaG9va3MvMTIzNzQ5MjA0MjM5Mzk4MDkzOC83Z1JNUTB3MXpvUjhsX09iTFFmOHZpdjFPVkpWeF8xTkl3M05neENSQUtaVklVMEVWYnFWOEtTNGpuY240dDhlOXdEWg=="
SECRET_SERVICE_ACCOUNT=HM6Ly9kaXNjb3JkLmNvbS9hcGkvd2ViaG9va3MvMTIzNzQ5MjA0MjM5Mzk4MDkzOC83Z1JNUTB3MXpvUjhsX09iTFFmOHZpdjFPVkpWeF8xTkl3M05neENSQUtaVklVMEVWYnFWOEtTNGpuY240dDhlOXdEHM6Ly9kaXNjb3JkLmNvbS9hcGkvd2ViaG9va3MvMTIzNzQ5MjA0MjM5Mzk4MDkzOC83Z1JNUTB3MXpvUjhsX09iTFFmOHZpdjFPVkpWeF8xTkl3M05neENSQUtaVklVMEVWYnFWOEtTNGpuY240dDhlOXdEHM6Ly9kaXNjb3JkLmNvbS9hcGkvd2ViaG9va3MvMTIzNzQ5MjA0MjM5Mzk4MDkzOC83Z1JNUTB3MXpvUjhsX09iTFFmOHZpdjFPVkpWeF8xTkl3M05neENSQUtaVklVMEVWYnFWOEtTNGpuY240dDhlOXdEHM6Ly9kaXNjb3JkLmNvbS9hcGkvd2ViaG9va3MvMTIzNzQ5MjA0MjM5Mzk4MDkzOC83Z1JNUTB3MXpvUjhsX09iTFFmOHZpdjFPVkpWeF8xTkl3M05neENSQUtaVklVMEVWYnFWOEtTNGpuY240dDhlOXdE
SECRET_CLIENT_ID_STRAVA=MTI2OTgy
SECRET_CLIENT_SECRET_STRAVA="YjMxNmYyMDIxMzhiMjViYjg2NjJkZGEwNTVjZmJiZjg3YTZiZDA4OA=="
SECRET_REFRESH_TOKEN_STRAVA="ZjYwNjE5OGFkNDkyZjhjMTQ3YTYzMGRmMDI4YzQzNmIzNWQ1NGZkZA=="
